
*.db
/Cobblemon Johto Music Pack
*.db
*.db
Cobblemon Johto Resource Pack/assets/minecraft/textures/item/Thumbs.db
*.db
CobblemonJohto/data/johto/function/dialogue/pokemon-heartgold-text-dump.txt
CobblemonJohto/data/johto/function/dialogue/Crystal text dump.txt
